# Игнорировать папку с зависимостями Node.js
node_modules/

# Игнорировать файлы настроек окружения с секретными ключами
.env

# Игнорировать системные файлы Mac
.DS_Store

# Игнорировать локальные папки настроек VS Code (по желанию)
.vscode/
